/*======================================================
  Stylesheet for the About us page (about.css)
  Author: Matthew Fernandez
  File: About.css
  Created: March 21, 2025
  Updated:  March 29, 2025
  ======================================================*/

/*Global styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: consolas;
}

/*Body Styles*/
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 100vh;
    background: url("forest-green-background.jpg");
    padding: 50px 5%;
  }
  
/*Container Layout*/
.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    flex-wrap: wrap;
}

/*Header styles*/
header{
    position:relative;
    top: -40px;
    left: 0;
    width: 100%;
    padding: 30px 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
  }
  
  /*Wildlife conservatory logo*/
  .logo {
    font-size: 25px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
  }

  /*Navigation bar styles*/
  .navbar a {
    font-size: 18px;
    color:#fbfbfb;;
    text-decoration: none;
    font-weight: 500;
    margin-left: 30px;
    border-bottom: 2px solid transparent;
    transition: .5s;
  }
  
  .navbar a:hover, 
  .navbar a.active {
    border-color:#ffffff;
  }
  
/*Box styles (Card Effects)*/
.container .box {
    position: relative;
    width: 320px;
    height: 400px;
    color: #fff;
    background: #111; /*Dark background for contrast*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 30px;
    transition: 0.5s; /*Smooth hover effects*/
}
.container .box:hover {
    transform: translateY(-20px); /*Floating effect when hovering*/
}

/*Box Background Effects (Gradient and Blur*/
.container .box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(315deg, #35654D, #35654D);
    z-index: 0;
}
.container .box::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(315deg, #35654D,#35654D);
    filter: blur(30px); /*Blurred glowing effect*/
    z-index: 0;
}
/*Ensuring diffrent boxes have almost the same gradient*/
.container .box:nth-child(2)::before,
.container .box:nth-child(2)::after {
    background: linear-gradient(315deg,#35654D, #35654D);
}
.container .box:nth-child(3)::before,
.container .box:nth-child(3)::after {
    background: linear-gradient(315deg, #35654D,#35654D);
}
/*Overlayed for improved readability*/
.container .box span {
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    background: rgba(0, 0, 0, 0.6);/*Dark semi transparent background for improved readability*/
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

/*Overlay effect on half of the box*/
.container .box span::before
{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width: 50%;
    height: 100%;
    background: rgba(255,255,255,0.1);
    pointer-events: none; 
}

/*Box content (Text and Button styles)*/
.container .box .content
{
    position: relative;
    z-index: 10;
    padding: 20px 40px;
}
.container .box .content h2
{
    font-size: 2em;
    color: #fff;
    margin-bottom: 10px;
}
.container .box .content p
{
    font-size: 1.1em;
    color: #fff;
    margin-bottom: 10px;
    line-height: 1.4em;
}

.container .box .content a
{
   display: inline-block;
   font-size: 1.1em;
   color: #111;
   background: #fff;
   padding: 10px;
   text-decoration: none;
   font-weight: 700;
}