body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ff000091;
}

header {
    background: #e78a8a;
    color: #000000;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background: #d82222b6;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px;
}

section {
    padding: 20px;
    margin: 10px;
    background: rgb(219, 180, 180);
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px;
    background: #f06262;
    color: rgb(255, 255, 255);
    margin-top: 20px;
}
